
@{
    ViewBag.Title = "Homepage";
}

<div class="row row-cols-1 row-cols-md-3 p-3 mt-4 ms-1" style="border: solid 1px; border-radius: 5px; height: 641.25px; width: 1140px; background: url(/Content/images/career-path-development.jpg) top fixed no-repeat; ">
    <div id="myCarousel" class="carousel slide ms-auto me-auto bg-success bg-opacity-25" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="ms-auto me-auto" src="~/Content/images/Job-Employment-PNG-Picture.png" alt="1" style="width:591px; height:406px; margin-top:100px;">
            </div>

            <div class="item">
                <img class="ms-auto me-auto" src="~/Content/images/Employment-PNG-Photo.png" width="325" alt="2" style="margin-top:40px;">
            </div>

            <div class="item">
                <img class="ms-auto me-auto" src="~/Content/images/Job-Employment-PNG-Clipart.png" width="785" alt="2" style="margin-top:120px;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-5 p-3 mt-1">
    <div class="col" style="max-height:309.38px">
        <div class="card" style="background-color:#feef5fae">
            <img src="~/Content/images/SparkLite.png" class="card-img-top card-images-size ms-auto me-auto" style="width:50%" alt="...">
            <div class="card-body border-top bg-light">
                <h4 class="card-title fw-bold">Career Spark Lite</h4>
                <p class="card-text text-decoration-underline">TSuitable for school students in Grades 8 and below for world of work exploration</p>
                <button type="button" class="btn btn-secondary col-5">Read More</button>
            </div>
        </div>
    </div>
    <div class="col" style="max-height:309.38px">
        <div class="card" style="background-color:#ff7701ae">
            <img src="~/Content/images/SparkBasic.png" class="mas card-img-top card-images-size ms-auto me-auto" style="width:50%" alt="...">
            <div class="card-body border-top bg-light">
                <h4 class="card-title fw-bold">Career Spark Basic</h4>
                <p class="card-text text-decoration-underline">Suitable for school students in Grade 9 and 10 for path and stream selection</p>
                <button type="button" class="btn btn-secondary col-5">Read More</button>
            </div>
        </div>
    </div>
    <div class="col" style="max-height:315px">
        <div class="card" style="background-color:#ff0202ae">
            <img src="~/Content/images/SparkAd.png" class="card-img-top card-images-size ms-auto me-auto" style="width:50%" alt="...">
            <div class="card-body border-top bg-light table-hover">
                <h4 class="card-title fw-bold">Career Spark Advanced</h4>
                <p class="card-text text-decoration-underline">Suitable for school students in Grade 11 and 12 to decide on path and college subjects</p>
                <button type="button" class="btn btn-secondary col-5">Read More</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height:315px">
            <iframe style="width:100%; min-height:175.86px;" src="https://www.youtube.com/embed/i9UYbJ2xMTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body border-top bg-light">
                <h4 class="card-title fw-bold fw-bold">Success Story</h4>
                <p class="card-text text-decoration-underline">How Starbucks Became a $100B</p>
                <button type="button" class="btn btn-secondary col-5">Read More</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height:315px; background-color:#cdffbdae">
            <img src="~/Content/images/Career_Energize.png" class="card-img-top card-images-size ms-auto me-auto" style="width:35%;margin-top:22px; margin-bottom:22px" alt="...">
            <div class="card-body border-top bg-light">
                <h4 class="card-title fw-bold">Career Energize</h4>
                <p class="card-text text-decoration-underline">Suitable for working professionals to make career change and fitment decisions.</p>
                <button type="button" class="btn btn-secondary col-5">Read More</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height:315px">
            <img src="~/Content/images/Career_Ignite.png" class="card-img-top card-images-size ms-auto me-auto" style="width:48%" alt="...">
            <div class="card-body border-top bg-light">
                <h4 class="card-title fw-bold">Career Ignite</h4>
                <p class="card-text text-decoration-underline">Suitable for graduate and post graduate students and early stage professionals.</p>
                <button type="button" class="btn btn-secondary col-5">Read More</button>
            </div>
        </div>
    </div>
</div>