
@{
    ViewBag.Title = "About Us";
}
<div class="row p-5">
    <p class="p-4 h4 col-6 ms-auto me-auto bg-light bg-gradient">
        The choice of a career is among the most important decisions of our life….or so it should be. For most however,
        this choice is still made based on their instincts, and the word of others. And that’s where we come in! We at
        Tucareers.com help the career decision maker reach the right decision and make an informed choice. Using the latest
        research in the career decision theories, psychometric assessments, analytics and data from the world’s largest career
        database, we bring a unique phased global career decision framework (ONETCPTM) to facilitate the search for the
        right career, role, education and skills
    </p>
</div>
